<ng-include src="'views/navbar.tpl.html'"></ng-include>




<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-10">
                <label class="control-label" for="inputDefault">URL</label>
                <input type="text" class="form-control" id="inputDefault" ng-model="post.url">
            </div>
            <br>
            <br>
            <div class="col-lg-10">
                <label class="control-label" for="inputDefault">Title</label>
                <input type="text" class="form-control" id="inputDefault" ng-model="post.title">
            </div>
            <br>
            <br>
            <label for="textArea" class="col-lg-2 control-label">Description</label>

            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea" ng-model="post.description"></textarea>
                <span class="help-block">Write a brief description about this post.</span>
            </div>
            <p class="postButton">
                <a class="btn btn-primary" ng-click="createPost()">Post</a>
            </p>
        </div>


    </div>
    

    <div class="panel panel-primary row" ng-repeat="newPost in posts">
        <div class="panel-heading">
            <h3 class="panel-title">{{newPost.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6"> {{newPost.url}}
            </div>
            <div class="col-md-6">
                <div>Description: {{newPost.description}}</div>
                <div class="btn btn-primary">{{newPost.url}}</div>

            </div>

        </div>
    </div>


</div>